*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* .nav-bar{ 
   
} */
/* .nav-bars{
    color: #000;
}
.nav-links{
    width: 100%;
    background: #111517;
    color: #000;
    padding-top: 0px;
    padding-top: 0px;
    margin-top: 37px;
    z-index: -1;
    display: flex;
    position: absolute;
    z-index: 3;
    justify-content: space-around;
}
.nav-links li{
    list-style: none;
}
.nav-links a:hover{
    color: gray;
}
.nav-links li a{
    text-decoration: none;
    color: white;
    display: flex;
    
} */


.header{
    box-sizing: border-box;
    width: 100%;
    background:#111517;
    position:fixed;
    left: 0;
    right: 0;
    top: 0;
    right: 0;
    border: 2px solid;
    z-index: 2;
}
.header2{
    display: block;
    text-decoration: none;
    list-style: none;
    border-bottom: 1px solid;
}
.head{
    padding-top: 10px;
    display: flex;
    align-content: flex-start;
    justify-content: space-between
}
/* .drop-down{
    width: 100%;
    justify-content: space-evenly;
    position: absolute;
}
.drop-down a{
    color: #fff;
    text-decoration: none;
    
} */
.logo{
    color: goldenrod;
    display: flex;
    font-weight: lighter;
    font-size: 13px;
}
.logo img{
    padding-left: 10px;
    height: 40px;
    padding-right: 20px;
}
.textbox{
    padding-right: 30px;
    display: flex;
    margin-right: 40px;
   color:#fff;
} 
 .btn{
    background: green;
    color: white;
    height: 30px;
    padding-left: 5px;
    padding-right: 5px;
    border: none;
    border-radius: 4px;
}
.btn2{
    border-radius: 4px;
    height: 30px;
    border: none;
    background: rgb(66, 63, 63);
    color: white;
    padding-left: 5px;
    padding-right: 5px;

} 
.lang{
    font-size: small;
    padding-top: 10px;
    padding-left: 10px;
}
.nav-down{
    float: right;
}


.body{
    background: #111517;
    width: 100%;
    position:absolute;
    border: 1px solid;
    padding-top:70px;
    z-index: 1;
    height: 3vh;
    transition: all 0.9;
}
.drop-down{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}
.drop-down li a{
    color: #fff;
    text-decoration: none;
    text-align: center;
}
.drop-down a:hover{
    color: #808080;
}
.body-content{
    width: 100%;
    height: 90vh;
    background-image: url("./img/friendship-month-desktop.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position:relative;

}
.main-content{
   
    padding-top: 100px;
    padding-left: 30px;
    color: #fff;
    display: flex;
    flex-direction: column;
}
.invite h1{
    padding-top: 30px;
    font-size: 40px;
    padding-bottom: 30px;
}
.get-invite{
    padding-top: 50px;
    padding-bottom: 30px;

}
.button{
    width: 17%;
    height: 60px;
    background:rgb(61, 167, 61);
    color: white;
    font-size: larger;
    margin-bottom: 20px;
    box-sizing: border-box;
    border-radius: 10px;
    border: none;
}
.friendship{
    font-family: 'Courier New', Courier, monospace;
    font-size: 65px;
    font-weight:900;
    font-style: oblique;
    line-height: 65px;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke:1px #0f63db;
}

.trust-pilot{
    position: relative;
    width: 100%;
    height: 40vh;
}
.content img{
    padding-top: 5px;
}
.trute-pilot-content{
    padding-top: 70px;
    align-items: center;
    display: flex;
    justify-content: space-evenly;
}
.second-body-content{
    width: 100%;
    height: 104vh;
    background-image: url(./img/bg-tools.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    object-fit: cover;
}
.second-content{
    background-color: rgba(78, 75, 75, 0.473);

}
.second-content2{
    text-align: center;
    padding-top: 120px;
    color: white; 
}

.second-content2 h1{
    font-size:60px;
    font-weight: lighter;
}

.most-btn{
    border: none;
    background: #ff7c25;
    width: 70%;
    height: 36px;
    border-radius: 5px;
    color: white;
    margin-top: 5px;
    cursor: pointer;
}

.start-tech{
    display: flex;
    justify-content: space-evenly;
    font-size: 25px;
    padding-top: 50px;
}

.thirt-content{
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    padding-top: 30px;
}
.four{
    color: #ff7c25;
}
.five{
    color: #ff7c25;
}
.meta h1{
    font-size: 40px;
}
.meta u:hover{
    color:  #ff7c25;
    cursor: pointer;
}

.h1 h1{
    font-size: 30px;
}

.account{
    border: none;
    background: green;
    color: white;
    width: 25%;
    height: 50px;
    margin-top: 30px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 30px;
}

.text{
    align-content: center;
    background:rgba(0,0,0,.2);
    color: white;
    display: flex;
    margin-top: 140px;
    padding-left: 300px;
    

}
.text h3{
    padding-top: 30px;
}

.icon{
    display: flex;
    font-size: 60px;
}
.tv-icon{
    padding-left: 40px;

}

.top-exp{
    width: 100%;
    height: 110vh;
    position: relative;

}
.octafx-app{
    padding-top: 60px;
    display: flex;
    justify-content: space-between;
}
.octafx-trade{
    width: 45%;
    padding-left: 30px;
}

.octafx-trade h1{
    font-size:48px;
    padding-bottom: 50px;
}
.lang {
    display: flexbox;
}
.lang li{
    font-size: 20px;
    font-weight: lighter;
    margin: 10px;
}
.img-play{
    padding-top: 20px;

}
.img-play img{
    width: 35%;
    padding-left: 10px;
}
.img-phone{
    width: 50%;
}
.img-phone img{
    height: 100vh;
}
.trad-forex{
    width: 100%;
    height: 90vh;
    background: #191919;
    position: relative;
}
.forex-trad{
    padding-top: 60px;

}
.forex-trad h1{
    font-size: 60px;
    padding-bottom: 30px;
}



.trading{
    display: flexbox;
    color: white;
    text-align: center;
    font-size:large;
    padding-bottom: 20px;
}

.start-btn{
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: space-around;
    color: white;
}
.vertical-line hr{
    position: absolute;
    height: 30vh;
    /* margin-left: -80px;
    margin-top: 20px; */   
}
.trading-btn{
    background:#00a53f;
    border-color:#00a53f ;
    height: 8vh;
    width: 40%;
    color: #fff;
    font-size: larger;
    margin-bottom: 10px;
    border-radius: 10px;

}
 .pract-btn{
    background: #0059b9;
    border-color: #0059b9;
    width: 50%;
    color: #fff;
    font-size: larger;
    margin-bottom: 10px;
    border-radius: 10px;
    height: 8vh;
}
.practice{
    width: 45%;
    padding-top: 40px;
}


.balance{
width: 45%;
padding-top: 40px;
}

.mean-forex{
    color: #fff;
    text-align: center;
    padding-top: 100px;
    font-size: larger;
}
/* .drop{
    position:relative;
    padding-top: 0;
    padding-bottom: 50px;
} */

.bonus{
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: space-around;
}
.bonus-one{
    display: flex;
    position: absolute;
}

.img{
    display: flex; 
}
.Forex-contd{
    position: relative;
    height: 90vh;
    width: 100%;
    background: whitesmoke;
}

.suspended-app{
    display: flex;
    position: relative;
    width: 100%;
}


.bouns-on-deposit{
    position: absolute;
    height: 59vh;
    width: 40%;
    background-color: white;
    top: -80px;
    margin-left: 140px;
} 
.bouns-on-deposit p{
    flex-wrap: wrap;
    margin-top: 30px;
    font-size: medium;
    font-weight: normal;
}
.bouns-on-deposit img{
    position: absolute;
    padding-left: 450px;
    width: 20%;
    margin-top: -40px;
}
.bouns-on-deposit hr{
    width: 20%;
    color: green;
    margin-top: 140px;
}
.negative{
    position: absolute;
    height: 59vh;
    width: 40%;
    background: white;
    top: -80px;
    margin-left: 750px;
}
.negative hr{
    width: 20%;
    color:green;
    margin-top: 140px;
}
.negative p{
  flex-wrap: wrap;
  margin-top: 30px;
  font-size: medium;
  font-weight: normal;

} 

.negative img{
    position: absolute;
    padding-left: 450px;
    width: 20%;
    margin-top: -40px;
}


.learn-more-about-us{
    text-align: center;
    padding-top: 50px;
    color: #00c94c !important;
    font-size: x-large;
    cursor: pointer;
}
.why-chooes-us{
    padding-top: 370px;
    text-align: center;
}
.why-chooes-us h2{
    padding-bottom: 30px;
    font-size: 50px;
    font-weight: lighter;
}

.why-chooes-us p{
    font-size: 20px;
}

.octafx-forex-broker{
    display: flex;
    font-size: large;
    font-weight: bold;
    justify-content: space-around;
    padding-top: 50px;
}

.octafx-forex-broker li{
    list-style: none;
    padding-left: 0px;
}

.broker-icon{
    font-weight: lighter;
    font-size: xx-large;
    color: green;
    padding-left: 50px;
    /* position: absolute;
    padding-top: -70px; */
}

.and-a-lot{
    width: 100%;
    background: #00c94c;
    height:20vh;
    position: relative;
}
.and-a-lot-more{
    padding-top: 45px;
    color: white;
    text-align: center;
    cursor: pointer;
    
}

.and-a-lot-more p{
    padding-bottom: 10px;
}
.and-a-lot-more h2{
    font-weight: lighter;
    font-size: x-large;

}

.footer{
    height: 70vh;
    position: relative;
    background: #171b1d;
}

.sponsor{
    padding-top: 30px;
    display: flex;
    justify-content: space-around;

}
.sponsor li{
    list-style: none;

}

.company-media-soponsor{
    width: 50%;
    display: flex;
    justify-content: space-around;
    color: #fff;
}
.get-app-follow-us{
    color: white;
    width: 40%;
    display: flex;
    justify-content: space-around;
}.get-app-follow-us li{
    cursor: pointer;
    color: rgb(131, 125, 125);
    font-size: small;
    margin: 2px;

}
.get-app-follow-us li:hover{
    color: white;
}
.icon-links{
    display: flex
    
 
}
.icon-links img{
    padding-top: 30px;
    margin-left: 20px;
    cursor: pointer;
}
div h3{
    padding-bottom: 20px;
}
.Company li{

    cursor: pointer;
    color: rgb(131, 125, 125);
    font-size: small;
    margin: 10px;

}
.Company li:hover{
    color: white;
}
.media li{

    cursor: pointer;
    color: rgb(131, 125, 125);
    font-size: small;
    margin: 10px;

}
.media li:hover{
    color: white;
}
.sponsor-rip li{

    cursor: pointer;
    color: rgb(131, 125, 125);
    font-size: small;
    margin: 10px;

}
.sponsor-rip li:hover{
    color: #fff;
}
.google-app{
    color:white;

}
.trading-play{
    display:flex;

}
.copytrading-app{
    display: flex;
    padding-bottom: 20px;
}
.hanvs-line hr{
    height: 50vh;
    display: none;
}

.horizon-line{
    width: 90%;
    padding-left: 90px;
    padding-top: 25px;
    color: rgb(131, 125, 125);

}
.footer-last{
    padding-left: 90px;
    padding-top: 20px;
    color: rgb(131, 125, 125);


}
.footer-end{
    display: flex;
    padding-bottom: 30px;
}
.footer-end li{
  
    list-style: none;
    cursor: pointer;
    margin: 5px;
}
.footer-end li:hover{
    color: white;
}


@media (min-width:415px) and (max-width:800px){
    .header2{
        width: 100%;
        z-index: -2;
        height: 5vh;
        position: fixed;
    }
    .body-content{
        width: 100%;
        height: 45vh;
        position: relative;
    }
    .second-body-content{
        height: 59vh;
        width: 100%;
    }
    .text{
        width: 100%;
        position: relative;
        padding-left: 0;
        padding-top: 55px;
        margin-top: 0px;
    
    }
    .trust-pilot{
        width: 100%;
        height: 20vh;
    }
    .star{
        display: none;
    }
    .account{
        width: 95%;
    }
    .text h3{
        padding-left: 10px;
        padding-top: 20px;
    }
    /* .meta u:hover{
        color: goldenrod;
        cursor: pointer;
    } */
    .icon{
    padding-left: 0px;
    } 
    .logo img{
        align-items: center;
        padding-left: 100px;
    }
    .header{
        height: 5vh;
    }
    .button{
        width: 95%;
    }
    .friendship{
        display: none;
    }
    .main-content{
        padding-top: 130px;
    }
    

    .octafx-trade{
        width: 100%;
        height: 50vh;
        display: flexbox;
    }
    .octafx-app{
        flex-direction: column;
    }
    .img-phone{
        width: 100%;

    }
    .img-play {
        padding-left: 170px;
        width: 100%;
        cursor: pointer;
    }
    .img-phone img{
        height: 60vh;
        padding-left: 150px;
    }
    .trad-forex{
        width: 100%;
        height: 75vh;
    }
    .vertical-line hr{
        height: 20vh;
        border: 1px solid;
    }

    .Forex-contd{
        width: 100%;
        flex-direction: column;
        position: relative;
        height: 90vh;
    }
    .suspended-app{
        display: block;
        width: 100%;
        flex-direction: column;
    }
    .bouns-on-deposit{
        flex-direction: column;
    }
    .why-chooes-us{
        flex-direction: column;
    }

    .footer{
        width: 100%;
        height: 47vh;
    }
    .sponsor{
        width: 100%;
    }
    /* .hanvs-line{
        width: 100%;
    } */
    /* .hanvs-line hr{
        display: block;
        height: 0vh;
        margin-left: -200px;
        
    }
    
    .hanvs hr{
        width:75%;
        margin-left: -180px;
    } */
    /* .Company li{
        display: none;
    }
    .Company ~ .Company li{
        display: flex;
        height: 10vh;
        transition: all .2s;
        cursor: pointer;
    } */
    .horizon-line hr{
        width: 100%;
        margin-left: -50px;
    }
    
    .company-media-soponsor{
        padding-left: 10px;
        width: 100%;
    
    } 
    .get-app-follow-us{
        width: 100%;
        padding-left: 30px;
    }
    .footer-last{
        padding-left: 0;
    }
    .sponsor{
        width: 100%;
        flex-direction: column;
    }
    .and-a-lot{
        height: 15vh;
        width: 100%;
    }

    .why-chooes-us{
        padding-top: 600px;
    }
    .Forex-contd{
        width: 100%;
        height: 140vh;
    }
    .octafx-forex-broker{
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
    }
    .broker-icon {
        padding-left: 20px;
    }
    .bouns-on-deposit{
        width: 100%;
        margin-left: 0px;
    }
    .negative{
        width: 100%;
        margin-left: 0px;
        flex-direction: column;
        margin-top: 500px;
    }
    .negative img{
        padding-left: 400px
        

    }
    .bouns-on-deposit img{
        padding-left: 0px;
        padding-left: 400px
    }
    .bouns-on-deposit p{
        width: 100%;
        padding-left: 0px;
        font-size: larger;

    }
    /* .learn-more-about-us{
        padding-left: 0px;
    } */
    .suspended-app{
        width: 100%;
        height: 50vh;
        flex-direction: column;
    }
}

@media(max-width:414px){
    .body-content{
        width: 100%;
        height: 90vh;
    }
    .drop-down{
        width: 100%;
        justify-content:start;
        font-size: small;
    }
    .body{
        width: 100%;
        padding-top: 110px;
    }
    .main-content{
        padding-top: 100px;
    }
    .header{
        width: 100%;
    }
    .head{
        width: 100%;

    }
    .button{
        width: 95%;
    }
    .friendship{
        display: none;
    }
    .trust-pilot{
        width: 100%;
        height: 75vh;
    }
    .trute-pilot-content{
        flex-direction: column;
        cursor: pointer;

    }
    .star{
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .star3{
        display: none;
    }
    .second-body-content{
        width: 100%;
        height: 116.7vh;
    }
    .account{
        width: 95%;
    }
    .text{
        width: 100%;
        position: relative;
        padding-left: 0;
        padding-top: 42px;
        margin-top: 0px;
        height: 6vh;
    }
    .text h3{
        font-size: medium;
        margin-left: 0px;
        font-weight: lighter;
        margin-top: -30px;
    }
    
    .icon{
        width: 100%;
        font-size: 40px;
        margin-left: -40px;
    }
    .top-exp{
        width: 100%;
        height: 210vh;
    }
    /* .octafx-app{
        width: 100%;
        flex-direction: column;
    } */

    .octafx-trade{
        width: 100%;
        height: 68vh;
        display: flexbox;
    }
    .octafx-app{
        flex-direction: column;
    }
    .img-play {
        padding-left: 70px;
        width: 100%;
        cursor: pointer;
    }
    .img-phone img{
        height: 90vh;
        padding-top: 340px;
    }

    .trad-forex{
        width: 100%;
        height: 75vh;
    }
    .trading h1{
        font-size: 50px;
    }
    .start-tech{
        width: 100%;
    }
    .trading-btn{
        width: 100%;
        height: 4vh;
    }
    .vertical-line hr{
        height: 10vh;
    }
    .suspended-app{
        width: 100%;
        height: 50vh;
        flex-direction: column;
    }
    .pract-btn{
        width: 100%;
        height: 4vh;  
    }
    .bouns-on-deposit{
        width: 100%;
        margin-left: 0px;
    }
    .negative{
        width: 100%;
        margin-left: 0px;
        flex-direction: column;
        margin-top: 500px;
    }
    .negative img{
        padding-left: 300px
        

    }
    .bouns-on-deposit img{
        padding-left: 0px;
        padding-left: 300px
    }
    .mean-forex{
        padding-top: 0px;
        padding: 30px;
    }
    .why-chooes-us{
        padding-top: 600px;
    }
    .Forex-contd{
        width: 100%;
        height: 210vh;
    }
    .octafx-forex-broker{
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
    }
    .broker-icon {
        padding-left: 20px;
    }
    .footer{
        width: 100%;
        height: 90vh;
    }
    .sponsor{
        width: 100%;
        flex-direction: column;
        margin-left: 90px;
    }
    .get-app-follow-us{
        width: 100%;
        margin-left: -60px;
    }
    .horizon-line hr{
        width: 100%;
        margin-left: -70px;
    }
    .footer-last{
        padding-left: 0;
    }
 
    




}
    